main {
  background-color: #fa5192;
}

section {
  .regions {
    display: grid;
    grid-template-columns: 100%;

    li {
      padding: 1rem;
      background-color: #ce4277;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-family: "Gill Sans", sans-serif;
        font-weight: 600;
        width: 48%;
      }

      .region-confirmed {
        width: 48%;

        h3 {
          font-family: "Lato", sans-serif;
          font-weight: 400;
          font-size: 1rem;
          margin-top: 0.4rem;
        }
      }
    }

    li:nth-child(odd) {
      background-color: #db4680;
      background-image: url("../img/virus.svg");
      background-repeat: no-repeat;
      background-position: right -20px bottom -10px;
      background-size: 70px;
    }
  }
}
